.idea
.vscode
__pycache__
async_sparse_py/
debug/*.dump
debug/*.dump_
debug/*.pth
event_representation_tool/
image_event_dataloader/
log/
log1/
log_eval/
log_selected/
SparseConvNet/
tmp/
config/settings.yaml
config/settings_default.yaml
entrypoint.sh
profiling_results*/
plot_data/*.csv
plot_data/*.png
plot_data/*.pdf
